* {
    font: roboto;
}

.MainBoxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header1content {
    /* display: flex; */
    background-color: white;
    color: white;
    height: 20px;
    flex: 1;
}

.MainBoxes{
    border: 0px solid brown;
    flex: 1;
}

.box1 {
    display: flex;
    background-color: rgb(21, 21, 60);
    height: 300px;
    flex-direction: row;
    color: white;
}

.box2 {
    height: 250px;
    background-color: white;
}

.box3 {
    height: 250px;
    background-color: gray;
}

.box4 {
    height: 150px;
    background-color: white;
}

.box5 {
    height: 100px;
    background-color: rgb(21, 21, 60);
}